@use "variables" as vars;

.rejection-modal {
    &__form {
        display: flex;
        flex-direction: column;
        gap: vars.space(12);
    }

    &__actions {
        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: vars.space(12);
    }
}